<section id="feature-list">
<section class="flex-shrink-0">
   <div class="container-fluid pt-4 pb-5 ">
   <div class="col-12 col-xs-12 col-sm-10 col-md-8 col-lg-6 col-xl-4 col-xxl-4">
   <div class="container-lg">
   <div class="row gy-5 row-cols-1 row-cols-sm-2 row-cols-md-3">
      <div class="col">
         <!-- <img id="header1-image" class="header-image"
            src="image/enterprise-social-business-collaboration.jpg" alt=""> -->
         <%= image_tag("enterprise-social-business-collaboration.jpg",  {:style => "width:100%;  height:auto;"} ) %>
      </div>
      <div class="col">
         <h3 class="blog2-conntent">INDISOR is working with the goal of developing <br> solutions
            for various fields,
         </h3>
         <p class="blog2-paragrapgh">
            Software Development being our key solutionwe have extended <br> 
            our boundaries into instrumentation and automation.Laboratory <br>
            Information System being our key service, we develop, market, <br>
            and support a well planned range of products to meet the <br> 
            challenges that thecement industry faces.Working closely with<br>
            customers, our products have br been updating according to the<br>
            changing need and workability.
         </p>
         <!-- 
            <img id="image-2blog" class="img-fluid" src="image/cement-plant.jpg"
            alt="some went wrong" width="450" height="350"> -->
         
            <%= image_tag 'cement-plant.jpg', id: 'image-2blog', class: 'img-cement' %>
           
         
      </div>
      <div class="col">
         <h3 class="blog3-conntent">eLIMS implementation <br> status across India,</h3>
         <p class="blog3-paragrapgh">
            Succesfully automated 54 cement plants in India.
         </p>
         <!--  <img id="image-2blog" class="img-blog2" src="image/map2.png" alt="some went wrong
            width="450" height="350">
            
            
            -->
         
            

            


<%= image_tag 'map2.png', id: 'image-45blog', class: 'img-blog25' %>

                   
      </div>
      <div id="blog-main3" class="container-lg">
         <img id="header70-image" class="hello_bro" src="image/software-company.jpg" alt=""> 
        
           

<%= image_tag 'software-company.jpg', id: 'blog-main45', class: 'blog-hello ' %>
              
         
         <div class="row gy-5 row-cols-1 row-cols-sm-2 row-cols-md-3">
            <div class="col58-hum">
               <h1 id="heading3" class="kj3-content">Flawless Software Company With Amazing
                  Workflow, <br> Better Designs And Functions
               </h1>
               <div id="image11" class="col-8image">
                  <!-- <img class="image1-phone"
                     src="image/mobile-apps.png" alt=""> -->
                  <%= image_tag("mobile-apps.png") %>
                  <h1 id="content-78" class="content78">Apps Development</h1>
                  <p id="para-78" class="para78">Lorem ipsum dolor sit amet.</p>
               </div>
               <div id="image13" class="col-9image">
                  <!-- <img class="image1-phone"
                     src="image/e-commerce.png" alt=""> -->
                  <%= image_tag("e-commerce.png") %>
                  <h1 id="content-78" class="content78">E-commerce</h1>
                  <p id="para-78" class="para78">Lorem ipsum dolor sit amet.</p>
               </div>
               <div id="image14" class="col-10">
                  <!-- <img class="image1-phone"
                     src="image/custom-software.png" alt=""> -->
                  <%= image_tag("custom-software.png") %>
                  <h1 id="content-78" class="content78">Custom Software</h1>
                  <p id="para-78" class="para78">Lorem ipsum dolor sit amet.</p>
               </div>
               <div id="image15" class="col-11">
                  <!-- <img class="image1-phone"
                     src="image/ux-design.png" alt=""> -->
                  <%= image_tag("ux-design.png") %>
                  <h1 id="content-78" class="content78">UI/UX Design</h1>
                  <p id="para-78" class="para78">Lorem ipsum dolor sit amet.</p>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>


<body>
   <div id="last5-blog" class="last-blog">
      <h1 class="last_heading" style="color: aliceblue;">Top-Notch Application Development Technologies For <br> Intelligent Mobile
         Solutions
      </h1>
      <p class="last-paragraph" style="color: aliceblue;">We have everything to build a rich ecosystem and
         solid integration. We provide transparent transaction starting from <br> scratch to the path of
         production. We are agile to create platforms which will be customer-focused with all of the latest
         <br> features and functionalities for the ease of use.
      </p>
      <div class="slideshow-container">
         <div class="mySlides fade">
            <div class="numbertext"></div>
            <!--    <img class="image20" src="image/frontend.png" style="width:100%"> -->
           

<%= image_tag 'frontend.png' , id: 'image-20blog', class: 'image20' %>

            
            
         </div>
         <div class="mySlides fade">
            <div class="numbertext"></div>
            <!--     <img class="image21" src="image/backend.jpeg" style="width:100%"> -->
            
             <%= image_tag 'backend.jpeg' , id: 'image-21blog', class: 'image21-part' %>
           
         </div>
         <a id="frontend" class="prev" onclick="plusSlides(1)"> frontend</a>
         <a id="backend" class="next" onclick="plusSlides(-1)"> backend</a>
      </div>
      <br>
   </div>
   <section id="feature-list67" class="gallery min-vh-100">
      <div class="container-lg">
         <div class="row ">
            <div class="col-1">
               <!-- <img class="col-1-image" src="image/1.png" alt=""> -->
               <%= image_tag("1.png") %>
               <h4 class="h4_1">Discovery</h4>
               <p class="col-1-para"> Before we start making decisions about <br>
                  user experience and creative direction,<br>
                  we do our homework to make sure we're not <br>
                  making any incorrect assumptions. Research form<br>
                  a strong project foundation.
               </p>
            </div>
            <div class="col-2">
               <!--  <img class="col-2-image" src="image/2.png" alt=""> -->
               <%= image_tag("2.png") %>
               <h4 class="h4_1">Branding</h4>
               <p class="col-2-para">Before we start making decisions about <br>
                  user experience and creative direction,<br>
                  we do our homework to make sure we're not <br>
                  making any incorrect assumptions. Research form<br>
                  a strong project foundation.
               </p>
            </div>
            <div class="col-3">
               <!-- <img class="col-3-image" src="image/3.png" alt=""> -->
               <%= image_tag("3.png") %>
               <h4 class="h4_1">UX Design</h4>
               <p class="col-3-para">Before we start making decisions about <br>
                  user experience and creative direction,<br>
                  we do our homework to make sure we're not <br>
                  making any incorrect assumptions. Research <br>
                 form a strong project foundation.
               </p>
            </div>
            <div class="col-4">
               <!--  <img class="col-4-image" src="image/4.png" alt=""> -->
               <%= image_tag("4.png") %>
               <h4 class="h4_1">Prototyping</h4>
               <p class="col-4-para">Before we start making decisions about <br>
                  user experience and creative direction,<br>
                  we do our homework to make sure we're not <br>
                  making any incorrect assumptions. Research <br>
                form a strong project foundation.
               </p>
            </div>
            <div class="col-5">
               <!--   <img class="col-5-image" src="image/5.png" alt=""> -->
               <%= image_tag("5.png") %>
               <h4 class="h4_1">User Testing</h4>
               <p class="col-5-para">Before we start making decisions about <br>
                  user experience and creative direction,<br>
                  we do our homework to make sure we're not <br>
                  making any incorrect assumptions. Research form<br>
                  a strong project foundation.
               </p>
            </div>
            <div class="col-6">
               <!--  <img class="col-6-image" src="image/6.png" alt=""> -->
               <%= image_tag("6.png") %>
               <h4 class="h4_1">UI Design</h4>
               <p class="col-6-para">Before we start making decisions about <br>
                  user experience and creative direction,<br>
                  we do our homework to make sure we're not <br>
                  making any incorrect assumptions. Research form<br>
                  a strong project foundation.
               </p>
            </div>
            <div class="col-7">
               <!-- <img class="col-7-image" src="image/7.png" alt=""> -->
               <%= image_tag("7.png") %>
               <h4 class="h4_1">Interaction Design</h4>
               <p  class=" col-7-para">Before we start making decisions about <br>
                  user experience and creative direction,<br>
                  we do our homework to make sure we're not <br>
                  making any incorrect assumptions. Research form<br>
                  a strong project foundation.
               </p>
            </div>
            <div class="col-8">
               <!--  <img class="col-8-image" src="image/8.png" alt=""> -->
               <%= image_tag("8.png") %>
               <h4 class="h4_1">Development</h4>
               <p class="col-8-para">Before we start making decisions about <br>
                  user experience and creative direction,<br>
                  we do our homework to make sure we're not <br>
                  making any incorrect assumptions. Research form<br>
                  a strong project foundation.
               </p>
            </div>
            <div class="col-9">
               <!--   <img class="col-9-image" src="image/9.png" alt=""> -->
               <%= image_tag("9.png") %>
               <h4 class="h4_1">Production Support</h4>
               <p class="col-9-para">Before we start making decisions about <br>
                  user experience and creative direction,<br>
                  we do our homework to make sure we're not <br>
                  making any incorrect assumptions. Research <br>
                form a strong project foundation.
               </p>
            </div>
         </div>
      </div>
   </section>
   <!-- contact modal -->
   
   <footer>
      <center> &copy; 2022</center>
   </footer>







<script>
function myFunction() {
  var x = document.getElementById("myTopnav");
  if (x.className === "topnav") {
    x.className += " responsive";
  } else {
    x.className = "topnav";
  }
}
</script>





   <script type="text/javascript">
      let slideIndex = 1;
      showSlides(slideIndex);
      
      function plusSlides(n) {
      showSlides(slideIndex += n);
      }
      
      function currentSlide(n) {
      showSlides(slideIndex = n);
      }
      
      function showSlides(n) {
      let i;
      let slides = document.getElementsByClassName("mySlides");
      let dots = document.getElementsByClassName("dot");
      if (n > slides.length) { slideIndex = 1 }
      if (n < 1) { slideIndex = slides.length }
      for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
      }
      for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
      }
      slides[slideIndex - 1].style.display = "block";
      dots[slideIndex - 1].className += " active";
      }
      
   </script>
<a href="form.html">hello
</a>